# Node.js modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.* # In case you have multiple environment files (e.g., .env.development, .env.production)

# Build outputs
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Miscellaneous
*.bak
*.tmp

# Dependency directories
bower_components/
jspm_packages/

# Optional npm cache directory
.npm/

# Docker and related files
docker-compose.override.yml
*.stackdump
